.wrapper {
  margin: 0 230px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    margin: 0 260px;
    .container {
      display: block;
    }
  }
}
