.wrapper {
   .container {
      background-color: var(--white-color);
      margin-bottom: 20px;
      border-radius: 10px;
      padding-bottom: 2px;
      .banner {
         max-width: 600px;
         max-height: 300px;
         margin-bottom: 20px;
         cursor: pointer;
         img {
            width: 100%;
         }
      }
      .desc-card {
         display: flex;
         justify-content: space-between;
         margin-top: 15px;
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         .title{
            font-weight: 600;
         }
      }
      .btn {
         display: flex;
         justify-content: space-around;
         margin: 10px 0 10px 67%;
      }
   }
}