.wrapper {
    --size: 40px;
    padding: 0px 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--white-color);
    margin-bottom: 50px;
    .heading {
        width: 100%;
        margin-top: var(--size);
        font-size: 30px;
        margin-bottom: 5px;
    }
    .form-group {
        width: 100%;
        .input-block {
            .input-desc {
                margin-bottom: 5px;
            }
            .text-desc{
                border: 1px solid #ccc;
                height: 170px;
                max-height: 210px;
                margin-bottom: 20px;
                padding: 0 8px;
                border-radius: 10px;
                overflow-wrap: break-word;
                overflow-y: scroll;
            }
            .input-text {
                width: 100%;
                border-radius: 20px;
                border: 1px solid #ccc;
                height: 40px;
                padding: 10px;
            }
            .error-message {
                color: var(--red-color);
                font-size: 1.2rem;
                padding-left: 10px;
                text-align: left;
                margin-bottom: 20px;
            }
        }
    }
    .services {
        &-desc {
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            display: inline-block;
        }
        &-time {
            display: flex;
            .time{
                margin-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
            }
            .input-time {
                margin-left: 10px;
                display: block;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 20px;
            }
        }
        &-price {
            display: flex;
            .input-field {
                margin-right: 5px;
            }

        }
        .price-dot {
            margin: 5px 5px 5px 5px;
        }
    
    }
    .location {
        width: 100%;
        max-height: 200px;
        border-radius: 10px;
        margin-top: 10px;
        overflow: hidden;
    }
    .btn {
        height: 100%;
        width: 175px;
        border-radius: 20px !important;
        margin-top: 20px;
    }
}