.wrapper {
    background-color: var(--white-color);
    .header {
        .bio-infor {
            .btn {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}