.wrapper {
    z-index: 999;
    margin: 0;
    position: absolute;
    inset: 0 0 auto auto;
    min-width: 220px;
    transform: translate3d(-10px, 58.8px, 0px);
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    overflow: hidden;
    padding: 9px 20px;
    color: var(--gray-color);
    animation: toggleOptions 0.3s ease;
    transition: all 0.3s ease;
    will-change: opacity, transform;
    margin-right: 10px;
}

.option-item-link {
    &:hover {
       color: var(--secondary-color);
       background-color: #fafafa;
    }

    .option-item {
        padding: 6px 0;
    }
}
.avatar {
    --size: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
    width: var(--size);
    height: var(--size);
    cursor: pointer;;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    .header-left{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        
    }
    .header-right {
        flex: 1;
        .user-name {
                color: var(--text-color);
                font-size: 1.6rem;
                font-weight: 700;
            }
    }
}

.option {
    .option-list {
        .option-item{
            display: flex;
            align-items: center;
            font-size: 20px;
            .option-icon{
                width: 18px;
                margin-right: 20px;
            }
            .option-name {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

@keyframes toggleOptions {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}