.wrapper {
    --margin: 20px;
    padding: 10px;
    box-shadow: var(--box-shadown-1);
    width: 410px;
    height: auto;
    border-radius: 10px;
    .header {
        .introduce {
            margin-bottom: var(--margin);
        }
        .bio-infor {
            .btn {
                display: flex;
                justify-content: flex-end;
            }
        }
    }    
    .content {
        padding-top: 20px;
        margin: var(--margin) 0;
        border-top: 1px solid #ccc;
        .start {
            margin-bottom: var(--margin);
        }
        .input-group {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 5px;
            font-size: 16px;
            margin-bottom: 5px;
            .icon {
                margin-right: var(--margin);
                font-size: 20px;
            }
        }
    }
    .btn {
        display: flex;
        justify-content: flex-end;
    }
}