.wrapper {
  margin: 20px 0;
  .form-group-lablel {
    font-weight: 600;
    padding-bottom: 10px;
    display: block;
  }
  .input-file-img {
    display: flex;
    justify-content: space-between;
  }
}

.input-file-block {
  --size: 168px;
  position: relative;
  width: var(--size);
  height: var(--size);
  margin-left: 210px;
  &:hover {
    .mark {
      display: block;
    }
  }
  .preview-img-block {
    .preview-img {
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      object-fit: cover;
      background-repeat: no-repeat;
    }
  }
  .mark {
    display: none;
  }
  .input-file {
    position: absolute;
    bottom: 28px;
    opacity: 0;
    width: 0;
  }
  .input-mark {
    position: absolute;
    display: flex;
    color: var(--gray-color);
    background: rgba(0, 0, 0, 0.46);
    font-size: 28px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 6;
    transition: all 0.3 ease;
    &:hover {
      color: var(--white-color);
    }
  }
}

.btn {
  position: relative;
}
