.wrapper {
    .heading {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 10px;
        
    }
    .type {
        margin-bottom: 5px;
    }
    .option-place {
        display: flex;
        justify-content: space-between;
        width: 300px;
    }
    .list {
        width: 500px;
        background-color: #eeee;
        padding: 5px 0px;
        overflow-y: scroll;
        max-height: 600px;
        margin-top: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}