.wrapper {
    display: flex;
    margin: 0 200px;
    height: 100vh;
    margin-top: 40px;
    .left {
        margin-right: 100px;
    }
    .right {
        width: 100%;
        .heading {
            font-size: 30px;
            font-weight: 500;
            border-bottom: 1px solid #5680E9;
            padding-bottom: 5px;
            margin-bottom: 25px;
        }
    }
}