.wrapper {
    background-image: conic-gradient(from 95deg at 53.07% -11.65%, #6ac0e2 0deg, #7fcdeb .04deg, rgba(170, 201, 214, 0) 1turn);
    height: 100vh;
    width: 100vw;
    justify-content: center;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}